p{
    font-size:16px;
    font-family:fonts/karla-regular.ttf;
    color:#2d2d2d;
    font-family:karla-regular;
}

@font-face { font-family: Pacifico; src: url('fonts/Pacifico.ttf');}
@font-face { font-family: Karla-Regular; src: url('fonts/karla-regular.ttf'); }
@font-face { font-family: Karla-Bold; src: url('fonts/karla-Bold.ttf'); }

h1{
    text-align:center;
}

.section-header{
    color:#646464;
    font-family: Pacifico;
    font-size: 2em;
}
body{
    margin:0;
}


span{
    display:block;
}
section{
    text-align:center;
}

        /*hovering over a link*/
 a:hover{
     text-decoration:underline; 
     color:#b64036;
}

.container {
    width:1140px;
    margin:0 auto;
    padding:30px;
    height:180px;
}
/*Header and nav bar*/

.site-header {
    background:black;
    color:white;
    height: 60px;
}

.logo{
    float: left;
}
.logo-photo{
    height:50px;
}

.menu-primary ul{
    float:right;
    margin:10px;
}
.menu-primary a {
    text-decoration:none;
}
    /*when a link has been visited*/
.menu-primary a:visited{
    text-decoration:none; 
    color:white;
}
.menu-primary  a:hover{
     text-decoration:underline; 
     color:#b64036;
}

 .menu-primary li {   
    list-style-type:none;
    text-transform: uppercase; 
    font-family: Karla-Regular;   
    display: inline-block;
    padding:10px;
    }

    

/*Banner Section*/
.banner-section{
    padding: 40px 0;
    text-align:center;
    background:black url('images/kayak-bkgd-for-web.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    color:white;
}
.banner-section .first-line{
    display:block;
    text-transform:uppercase;
    font-family: Karla-Regular;
    font-size:0.75em;
}
.banner-section .second-line{
    display:block;
    font-size:3em;
    font-family: Pacifico;
    line-height:150%;
    }
.banner-section .third-line{
    font-size:1.5em;
    font-family: Pacifico;
}
#banner-paragraph{
    color:white;
    background: rgba(0, 0, 0, 0.6);
    margin:30px 350px;
    font-family: Karla-Regular;
    
}
button{  
    background-color:#e2574c;
    color:white;
    border-radius:25px;
    font-family: Karla-Regular;
    text-transform: uppercase;
    font-size: 1em;
    padding: 10px;
}
button a{text-decoration: none;
color:white;}

button a:hover{color:#b64036;}

/*About Section*/
.container-2{
    width:700px;
    margin:0 auto;
    padding:30px;
}

.about-section p {
    font-family:karla-regular;
    line-height:175%;
}

.about-images {
    float:left;
}
.about-images img {
    width:300px;
    height:200px;
    margin: 200px,10px,200px,10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/*Rental Section*/

.rental-section {
    margin-top:250px;
}
.column1of2 {
    width:40%;
    padding:30px;
    display:block;
    float:left;
    clear:right;
    text-align:left;
    line-height:175%;
}
.column2of2{
    width:50%;
    float:right;
    padding:30px;
}
.rental-section a {
    color:#e2574c;
}
.rental-section a:hover{
    color:#b64036;
}

#table-header .bold-table {font-weight:bold;
font-family:karla-bold;
background-color:#e6e6e6;}


.prices-table{
    float:right;
}
.prices-table, th, td {
    border: 2px solid #c8c8c8;
    border-collapse: collapse;
    padding:20px;
    margin:0px;
    font-weight:normal;
    width:100%;
    font-family:karla-regular;
    table-layout: fixed;
}
#left-alignment{
    text-align:left;
}
/*Locations*/
.location-section{
    clear:both;
}



/*Footer */


.site-footer{
    background-color:#242424;
}
.site-footer p{
        color:white;
    text-align:left;
}

.site-footer a{
    color:white; /*Question hover color*/
}
.site-footer a:hover {color:#b64036;}

.site-footer .address-paragraph{
    color:#989898;
}
.left-side-footer {
    text-align:left;
    float left;
    padding:40px 30px 40px 30px;
}





