@font-face { font-family: Pacifico; src: url('fonts/Pacifico.ttf');}
@font-face { font-family: Karla-Regular; src: url('fonts/karla-regular.ttf'); }
@font-face { font-family: Karla-Bold; src: url('fonts/karla-Bold.ttf'); }

body {
    font-size:16px;
    color:#2d2d2d;
    font-family:karla-regular;
    line-height:1.25;
    box-sizing: border-box;
    margin:0;
    text-align:center;
}

img{
    max-width:100%;
}

.section-header{
    color:#646464;
    font-family: Pacifico;
    font-size: 7em;
}


/*Header and nav bar*/
.site-header {
    background:black;
    color:white;
    display:flex;
    flex-direction:column;
    align-content:center;
}

.logo-photo{
    height:8%;
    width:50%;
}
.menu-primary{
    width:100%;
}
.menu-primary ul{
    margin:1.5%;
    font-size:2.5em;
    
    
}
/*Links and list for nav bar */
.menu-primary a {
    text-decoration:none;
    color:white;
}
.menu-primary a:visited{
    text-decoration:none; 
    color:white;
}
.menu-primary  a:hover{
     text-decoration:underline; 
     color:#b64036;
}
 .menu-primary li {   
    list-style-type:none;
    text-transform: uppercase; 
    font-family: Karla-Regular;   
    padding:1%;
    display:inline-block;
    }
/*Banner Section*/

.banner-section {
    padding: 25% 0;
    text-align:center;
    background:black url('images/kayak-bkgd-for-web.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center center;
    color:white;
    
}

.banner section .container {
    width:100%;
    margin:0 auto;
    padding:3%;
    height:16%;
    background: rgba(0, 0, 0, 0.9);}
}

/*text*/
.banner-section .first-line{
    display:block;
    text-transform:uppercase;
    font-family: Karla-Regular;
    font-size:1.75em;
}
.banner-section .second-line{
    display:block;
    font-size:5em;
    font-family: Pacifico;
    line-height:150%;
    }
.second-line, .third-line {
    text-shadow:2px 2px 5px #999;
}
.banner-section .third-line{
    font-size:3.5em;
    font-family: Pacifico;
}

#banner-paragraph{
    color:white;
    background: rgba(0, 0, 0, 0.6);
    font-family: Karla-Regular;
    line-height:1.25em;
    margin: 8% 10%;
    padding:1% 4%;
    
}

button{  
    background-color:#e2574c;
    color:white;
    border-radius:60px;
    font-family: Karla-Regular;
    text-transform: uppercase;
    font-size: 3em;
    padding: 0.75em;
    border:none;
}
button a{text-decoration: none;
color:white;}

button a:hover{color:#b64036;}

/*About*/
.container-2{
    width:100%;
    margin:0 auto;
    padding:2% 0;
}

.about-section p {
    font-family:karla-regular;
    line-height:180%;
    margin:3%;
}

.about-images {
    display:flex;
    flex-direction:column; 
    justify-content:space-between;

}
.about-images img {
    box-shadow: 9px 7px 8px rgba(0, 8, 0, 0.35);
    height:35%;
    margin:2% 2%;
}

/* Rentals*/

.container-3 {
    margin:0 auto;
    padding: 2% 2% 2% 2%;
}
.column1of2 p{
 
    line-height:180%;
    text-align:left;
    padding-right:8%;
}

.telephone {
    color:#e2574c;
}
.telephone hover{
    color:#b64036;
}

/*table*/

.prices-table {
    width:100%;
    height:40%;
}

#table-header .bold-table {
    font-family:karla-bold;
    background-color:#e6e6e6;}


.prices-table, th, td {
    border: 2px solid #c8c8c8;
    border-collapse: collapse;
    padding:2%;
    margin:0;
    font-weight:normal;
    font-family:karla-regular;
    table-layout: fixed;
    font-size:16px
}
#left-alignment{
    text-align:left;
}

/*Location*/
p  {
    line-height:180%;
}
.container-4 {
    padding:1% 1%;
    width:97%
    
}
.map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

/*Footer*/
.site-footer{
    background-color:#242424;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:2% 13%;
    height:50%;
    font-size:2.5em;
    
}
.site-footer p{
        color:white;
}

.site-footer a{
    color:white; /*Question hover color*/
}
.site-footer a:hover {color:#b64036;}

.site-footer .address-paragraph{
    color:#989898;
}


/*Tablet */
@media (min-width:600px) {
    .site-header {
    height: 7%;
    flex-direction:row;
    justify-content:space-between;
}

.logo-photo{
    height:60%;
    width:90%;
    margin:5%;
    text-align:left;
}
.menu-primary ul{
    font-size:1.5em;
    text-align: right;
    padding:1%;
    margin:2%;
}

.container {
    margin:0 auto;
    padding:10%;
    height:47%;

}    

#banner-paragraph{
    font-size:1.5em;
    margin:5% 2%;
    
}
.banner-section .first-line {
    text-transform:uppercase;
    font-size:1.25em;
}
.banner-section .third-line{
    line-height:2;
    font-size:2em;
}
.second-line, .third-line {
    text-shadow:2px 2px 5px #999;
}
.sign-me-up{
    font-size:1.8em;
}
.section-header {
    font-size:3.25em;
    margin:4% 0%;
}
.about-section p {
     margin:3% 4%;
}
.about-images{
    display:flex;
    width:100vw;
    flex-direction: row;
    justify-content:space-around;
    margin:3%
    padding:1%;
}
.container-3{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
   
}
.column1of2 {
    width:45%;
    margin-right:10%;
    
}
.column1of2 p{
    padding-right:5%;
    font-size:1rem;
    height:7%
}
.column2of2{
    width:50%
}
.prices-table {
    height:20%
}

.site-footer {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    font-size:1em;
    padding:5% 10% 5% 2%;
    height:30%;
}
.left-side-footer{
    text-align:left;
    width:25%;
}

}


@media (min-width:1140px) {
    .site-header {
    height: 12%;
    flex-direction:row;
    justify-content:space-between;
}

.logo-photo{
    height:60%;
    width:70%;
    margin:5%;
    text-align:left;
}
.menu-primary ul{
    font-size:1.5em;
    text-align: right;
    padding:1%;
    margin:2%;
}

.container {
    margin:0 auto;
    padding:3%;
    height:96%;

}    

#banner-paragraph{
    font-size:1.25em;
    margin:5% 22%;
}
.banner-section .first-line {
    text-transform:uppercase;
}
.banner-section .third-line{
    line-height:2;
    font-size:2em;
}
.second-line, .third-line {
    text-shadow:2px 2px 5px #999;
}
.sign-me-up{
    font-size:1.3em;
}
.section-header {
    font-size:3.25em;
    margin:4% 0%;
}
.about-section p {
     margin:3% 17%;
}
.about-images{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    margin:3%
}
.container-3{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
   
}
.column1of2 {
    width:49%;
}
.column1of2 p{
    padding-right:5%;
}
.column2of2{
    width:49%
}

.site-footer {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    font-size:1em;
    padding:5% 10% 5% 2%;
    height:30%;
}
.left-side-footer{
    text-align:left;
    width:25%;
}

}
