@font-face { 
    font-family: Pacifico;
    src: url('../fonts/Pacifico.ttf');
    font-weight:normal; 
}
@font-face { 
    font-family: Karla;
    src: url('../fonts/karla-regular.ttf');
    font-weight:normal;
    }
@font-face {
     font-family: Karla ; 
     src: url('../fonts/karla-Bold.ttf');
     font-weight:bold;
    }

body {
    font-size:16px;
    color:#2d2d2d;
    font-family:karla;
    line-height:1.25;
    box-sizing: border-box;
    margin:0;
    text-align:center;
}

img{
    max-width:100%;
}

.section-header{
    border:3px solid deeppink;
    color:#646464;
    font-family: Pacifico;
    font-size: 2.5em;
    margin:40px;
    font-weight:normal;
}


/*Header and nav bar*/
.site-header {
    background:black;
    color:white;
    width:100%;
    display:flex;
    flex-direction:column;
    align-content:center;
}

.logo-photo{
    width:55%;
    padding:10px;
   
}
.menu-primary{
    width:100%;
}
.menu-primary ul{
    margin:2%;
    padding-left:0%;
    font-size:1em;
   
}

.menu-primary ul li {
    padding:0 4%;
}
/*Links and list for nav bar */
.menu-primary a {
    text-decoration:none;
    color:white;
}
.menu-primary a:visited{
    text-decoration:none; 
    color:white;
}
.menu-primary  a:hover{
     text-decoration:underline; 
     color:#b64036;
}
 .menu-primary li {   
    list-style-type:none;
    text-transform: uppercase; 
    font-family: Karla;   
    padding:1%;
    display:inline-block;
    }
/*Banner Section*/

.banner-section {
    border:3px solid deeppink;
    padding: 17% 0;
    text-align:center;
    background:
    linear-gradient(to top, 
    rgba(0, 0, 0, 0.25) 0%, 
    rgba(0, 0, 0, 0.25) 100%
    ),
     url('../images/kayak-bkgd-for-web.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:top center;
    color:white;
    
}

.banner section {
    width:99%;
    margin:0 auto;
    padding:3%;
    
}

/*text*/
.banner-section .first-line{
    display:block;
    text-transform:uppercase;
    font-family: Karla;
    font-weight:normal;
}
.banner-section .second-line{
    display:block;
    font-size:1.75em;
    font-family: Pacifico;
    line-height:75px;
    }
.second-line, .third-line {
    text-shadow:2px 2px 5px #999;
}
.banner-section .third-line{
    font-size:1.25em;
    font-family: Pacifico;
}

#banner-paragraph{
    color:white;
    background: rgba(0, 0, 0, 0.6);
    font-family: Karla;
    line-height:1.25em;
    margin: 8% 10%;
    padding:1% 4%;
    
}

button{  
    background-color:#e2574c;
    color:white;
    border-radius:60px;
    font-family: Karla;
    text-transform: uppercase;
    font-size: 1.05em;
    padding: 0.75em;
    border:none;
}
button a{text-decoration: none;
color:white;}

button a:hover{color:#b64036;}

/*About*/
.container-2{
    border:3px solid deeppink;
    width:100%vw;
    margin:0 0 auto;
    padding:2% 0;
}

.about-section p {
    font-family:karla;
    line-height:165%;
    font-weight:normal;
    margin:3%;
}

.about-images {
    border:3px solid deeppink;
    display:flex;
    flex-direction:column; 
    justify-content:space-between;
   

}
.about-images img {
    box-shadow:2px 2px 5px 1px #666;
    height:auto;
    width:95%;
    margin:2% 2%;
}

/* Rentals*/

.container-3 {
    margin:0 auto;
    padding: 2% 2% 2% 2%;
}
.column1of2 p{
    line-height:180%;
    text-align:left;
    padding-right:8%;
    font-family:karla;
}

.telephone {
    color:#e2574c;
}
.telephone hover{
    color:#b64036;
}

/*table*/

.prices-table {
    width:100%;
    height:auto;
}

#table-header .bold-table {
    font-family:karla;
    font-weight:bold;
    background-color:#e6e6e6;}


.prices-table, th, td {
    border: 1px solid #c8c8c8;
    border-collapse: collapse;
    padding:3%;
    margin:0;
    font-weight:normal;
    font-family:karla;
    table-layout: fixed;
    font-size:16px
}
#left-alignment{
    text-align:left;
}

/*Location*/
p  {
    line-height:180%;
}
.container-4 {
    width:100%;
    height:auto;
   
}
.map {
    width:100%;
    height:auto;
    border:2px solid blue;
}
/*Footer*/
.container-5{
    background-color:#242424;
    text-align:center;
    padding:10% 11.25%;
    
}
.site-footer p{
        color:white;
}

.site-footer a{
    color:white; /*Question hover color*/
}
.site-footer a:hover {color:#b64036;}

.site-footer .address-paragraph{
    color:#989898;
}
.site-footer .right-side-footer .text{

    display:none;

}
.site-footer .right-side-footer .toggle {
    padding:10px;
}

/*Tablet */
@media screen and  (min-width:600px) {

.section-header {
    margin:3% 0%;
}
/*Nav*/
    
.site-header {
    flex-direction:row;
    justify-content:space-between;

}

.logo-photo{
    width:75%;
    padding:5px;
}
.menu-primary ul{
    font-size:1rem;
    text-align: right;
    padding:1%;
}

.menu-primary ul li {
    padding: 0 2%;
}

/*Banner Section*/

.container {
    padding:10%;
}    

#banner-paragraph{
    font-size:1.25em;
    margin:5% 3%;
    padding:1% 0%;
}

.banner-section .second-line {
    line-height:115px;
    font-size:3.25em;
}
.banner-section .third-line{
    font-size:2em;
    line-height:2;
}
.second-line, .third-line {
    text-shadow:2px 2px 5px #999;
}
.sign-me-up{
    font-size:1.2em;
}
/*About Section*/
.section-header {
    font-size:3.25em;
    margin:4% 0%;
}


.about-section p {
    padding:0px 10px;

}


/*About images */
.about-images {
    flex-direction: row;
    justify-content:space-around;
    margin:3%;
    margin-bottom:8%;
   
}

/*Rentals*/
.container-3{
    display:flex;
    flex-direction: row;
    justify-content:space-around;  
}
.column1of2 {
    width:48%;
    
}
.column1of2 p{
    padding-right:5%;
}
.column2of2{
    width:48%
}


/*Footer*/

.site-footer {
    margin:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-content:flex-start;
    font-size:1em;
    padding:0 0;
 
}

.left-side-footer{
    text-align:left;
    display:block;
    width:50%;
    margin:0;
    flex-wrap:wrap;
  
}

.right-side-footer {
    width:18%;
}
.right-side-footer span {
    display:block;
    text-align:left;
    
}
.site-footer .right-side-footer .toggle {
    padding:0px;
    padding-right:30px;
    

}

.site-footer .right-side-footer .text{
    display:inline-block;
    padding-left:10px;

}




/*Desktop*/
@media screen and  (min-width:1140px) {

.section-header {
    margin:5% 0%;
}
/*Nav*/
    
.site-header {
    flex-direction:row;
    justify-content:space-between;
}

.logo-photo{
    width:60%;
    padding:5px;
  
}
.menu-primary ul{
    font-size:1rem;
    text-align: right;
    padding:1%;
}

.menu-primary ul li {
    padding: 0 2%;
}

/*Banner Section*/

.container {
    margin:0 auto;
    padding:3%;

}    

#banner-paragraph{
    font-size:1.25em;
    margin:3% 23%;
    padding:1% 0%;
}
.banner-section .first-line {
    text-transform:uppercase;
}

.banner-section .second-line {
    line-height:150px;
    font-size:4.75em;
}
.banner-section .third-line{
    font-size:2em;
    line-height:2;
}
.second-line, .third-line {
    text-shadow:2px 2px 5px #999;
}
.sign-me-up{
    font-size:1.3em;
}


/*About Section*/

.section-header {
    font-size:3.25em;
    margin:4% 0%;
} 

.about-section p {
    padding:0% 16%;

}



/*About images */
.about-images {
    flex-direction: row;
    justify-content:space-around;
    margin:3% 
   
}

.left-side-footer{
    border:2px solid red;
    width:25%;
    
}
.right-side-footer span {
    border:2px solid red; 
}

} 